// sass --watch assets/scss/main.scss assets/css/style.css @import "_generals.scss";
@import "_mixin.scss";
@import "_variables.scss";



main {


    p,
    h2 {
        font-family: sans-serif;
    }

    p:first-child {
        font-size: 1.4rem;
    }

    p:last-child {
        color: darkred;
        font-size: 2rem;
        font-weight: bold;
    }

    background-color:linen;
    width: 30%;
    padding:15%;
}

form {

    #input-message {
        background-color: $bg;
        color: #fff;
    }


}